<section>
  <table class="actor-sheet-stat-table">
    <caption class="actor-sheet-stats-table-label">
      {{localize "ikrpg.actorSheetLabels.statBlock.title"}}
    </caption>
    <tr class="actor-sheet-stat-block">
      <!--Physical stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box main-stat"
            name="data.stats.phy.value"
            type="text"
            value="{{data.stats.phy.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.phy"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.phy.max.value"
            type="text"
            value="0"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table class="actor-sheet-stat-substat-table">
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.spd.value"
                  type="text"
                  value="{{data.stats.spd.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.spd"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.spd.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.str.value"
                  type="text"
                  value="{{data.stats.str.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.str"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.str.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <!--Agility stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box main-stat"
            name="data.stats.agl.value"
            type="text"
            value="{{data.stats.agl.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.agl"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.agl.max.value"
            type="text"
            value="0"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.prw.value"
                  type="text"
                  value="{{data.stats.prw.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.prw"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.prw.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.poi.value"
                  type="text"
                  value="{{data.stats.poi.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.poi"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.poi.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <!--Intelligence stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box main-stat"
            name="data.stats.int.value"
            type="text"
            value="{{data.stats.int.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.int"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
            class="actor-sheet-stat-box-max"
            name="data.int.max.value"
            type="text"
            value="0"
            data-type="Number"
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.arc.value"
                  type="text"
                  value="{{data.stats.arc.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.arc"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.arc.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  name="data.stats.per.value"
                  type="text"
                  value="{{data.stats.per.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.per"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                  class="actor-sheet-stat-box-max"
                  name="data.per.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</section>