<section>
  <table class="actor-sheet-stat-table">
    <caption class="actor-sheet-stats-table-label">
      {{localize "ikrpg.actorSheetLabels.statBlock.title"}}
    </caption>
    
    <!--Physical stat group-->
    <tr>
      <!--Physical stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box stat damage-stat arm-stat willpower-stat"
            name="data.stats.phy.value"
            type="text"
            value="{{data.stats.phy.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.phy"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
             class="actor-sheet-stat-box"
            name="data.phy.max.value"
            type="text"
            value="0"
            data-type="Number"
            disabled=true
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table class="actor-sheet-stat-substat-table">
          <!--spd stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat def-stat initiative-stat"
                  name="data.stats.spd.value"
                  type="text"
                  value="{{data.stats.spd.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.spd"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.spd.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <!--str stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat"
                  name="data.stats.str.value"
                  type="text"
                  value="{{data.stats.str.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.str"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.str.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!--Agility stat group-->
    <tr>
      <!--Agility stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box stat damage-stat def-stat"
            name="data.stats.agl.value"
            type="text"
            value="{{data.stats.agl.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.agl"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
             class="actor-sheet-stat-box"
            name="data.agl.max.value"
            type="text"
            value="0"
            data-type="Number"
            disabled=true
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <!--Prw stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat initiative-stat"
                  name="data.stats.prw.value"
                  type="text"
                  value="{{data.stats.prw.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.prw"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.prw.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <!--Poi stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat"
                  name="data.stats.poi.value"
                  type="text"
                  value="{{data.stats.poi.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.poi"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.poi.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!--Intelligence stat group-->
    <tr>
      <!--Intelligence stat block-->
      <td>
        <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box stat damage-stat commandRange-stat willpower-stat"
            name="data.stats.int.value"
            type="text"
            value="{{data.stats.int.value}}"
            data-type="Number"
          />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.int"}}
          </label>
        </div>
      </td>
      <td>
        <div class="actor-sheet-stat-value-max">
          <input
             class="actor-sheet-stat-box"
            name="data.int.max.value"
            type="text"
            value="0"
            data-type="Number"
            disabled=true
          />
          <label class="actor-sheet-stat-max-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
          </label>
        </div>
      </td>
      <td>
        <table>
          <!--Arc stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat"
                  name="data.stats.arc.value"
                  type="text"
                  value="{{data.stats.arc.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.arc"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.arc.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
          <!--Per stat block-->
          <tr>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box stat def-stat initiative-stat"
                  name="data.stats.per.value"
                  type="text"
                  value="{{data.stats.per.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.per"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value-max">
                <input
                   class="actor-sheet-stat-box"
                  name="data.per.max.value"
                  type="text"
                  value="0"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-max-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.max"}}
                </label>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    
    <!--WillPower-->
    <tr style="align-items: center;">
      <td colspan="3" style="text-align: center;">
          <div class="actor-sheet-stat-value">
          <input
            class="actor-sheet-stat-box"
            type="text"
            value="{{data.stats.per.value}}"
            data-type="Number"
            disabled=true
          />
          <br />
          <label class="actor-sheet-stat-name-label">
            {{localize "ikrpg.actorSheetLabels.statBlock.willpower"}}
          </label>
        </div>
      </td>
    </tr>
  </table>
</section>