<section>
    <table class="actor-sheet-header-table">
        <caption class="actor-sheet-header-table-label">
            {{localize "ikrpg.actorSheetLabels.headerBlock.title"}}
        </caption>
        <tr>
            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.name.value"
                        type="text"
                        value="{{data.name.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.name"}}
                    </label>
                </div>
            </td>

            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.sex.value"
                        type="text"
                        value="{{data.header.sex.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.sex"}}
                    </label>
                </div>
            </td>

            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.weight.value"
                        type="text"
                        value="{{data.header.weight.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.weight"}}
                    </label>
                </div>
            </td>
            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.height.value"
                        type="text"
                        value="{{data.header.height.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.height"}}
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.archetype.value"
                        type="text"
                        value="{{data.header.archetype.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.archetype"}}
                    </label>
                </div>
            </td>

            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.race.value"
                        type="text"
                        value="{{data.header.race.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.race"}}
                    </label>
                </div>
            </td>

            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.careers.value"
                        type="text"
                        value="{{data.header.careers.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.careers"}}
                    </label>
                </div>
            </td>

            <td>
                <div class="actor-sheet-header-field">
                    <input
                        class="actor-sheet-header-field-box"
                        name="data.header.faith.value"
                        type="text"
                        value="{{data.header.faith.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.actorSheetLabels.headerBlock.faith"}}
                    </label>
                </div>
            </td>
        </tr>
    </table>
</section>