<section>
    <table class="actor-sheet-stat-table">
        <caption class="actor-sheet-stats-table-label">
            {{localize "ikrpg.actorSheetLabels.commandRangeBlock.title"}}
        </caption>
        <tr>
            <td>
                <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  type="text"
                  value="{{data.commandRange.value}}"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.commandRangeBlock.total"}}
                </label>
              </div>
            </td>
            <td>=</td>
            <td>
                <div class="actor-sheet-stat-value">
                <input
                  class="actor-sheet-stat-box"
                  type="text"
                  value="{{data.stats.int.value}}"
                  data-type="Number"
                  disabled=true
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.statBlock.int"}}
                </label>
              </div>
            </td>
            <td>
                <div class="actor-sheet-stat-value">
                <input
                  name="data.commandRangeModifier.commandSkill.value"
                  class="actor-sheet-stat-box stat  commandRange-stat"
                  type="text"
                  value="{{data.commandRangeModifier.commandSkill.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.commandRangeBlock.skill"}}
                </label>
              </div>
            </td>
            <td>
              <div class="actor-sheet-stat-value">
                <input
                  name="data.commandRangeModifier.abilityModifier.value"
                  class="actor-sheet-stat-box stat commandRange-stat"
                  type="text"
                  value="{{data.commandRangeModifier.abilityModifier.value}}"
                  data-type="Number"
                />
                <label class="actor-sheet-stat-name-label">
                  {{localize "ikrpg.actorSheetLabels.commandRangeBlock.ability"}}
                </label>
              </div>
            </td>
        </tr>
    </table>
</section>