<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-name">Item</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
        </div>
    </li>
    {{!-- {{#each actor.meleeWeapons as |melee id|}}
    <li class="item flexrow" data-item-id="{{melee._id}}">
        <div class="item-image"><img src="{{melee.img}}" title="{{melee.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{melee.name}}</a></h4>
        <h4 class="item-name">{{melee.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    {{#each actor.rangedWeapons as |ranged id|}}
    <li class="item flexrow" data-item-id="{{ranged._id}}">
        <div class="item-image"><img src="{{ranged.img}}" title="{{ranged.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{ranged.name}}</a></h4>
        <h4 class="item-name">{{ranged.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}} 
    <p>---</p>--}}
    {{#each actor.spells as |spell id|}}
    <li class="item flexrow" data-item-id="{{spell._id}}">
        <div class="item-image"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{spell.name}}</a></h4>
        <h4 class="item-name">{{spell.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    {{#each actor.armors as |armor id|}}
    <li class="item flexrow" data-item-id="{{armor._id}}">
        <div class="item-image"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{armor.name}}</a></h4>
        <h4 class="item-name">{{armor.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    <p>Skills</p>
    <p>---</p>
    {{#each actor.skills as |skill id|}}
    <li class="item flexrow" data-item-id="{{skill._id}}">
        <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{skill.name}}</a></h4>
        <h4 class="item-name">{{skill.data.Atribute}}</h4>
        <h4 class="item-name">{{skill.data.skillLevel}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    {{#each actor.abilities as |ability id|}}
    <li class="item flexrow" data-item-id="{{ability._id}}">
        <div class="item-image"><img src="{{ability.img}}" title="{{ability.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{ability.name}}</a></h4>
        <h4 class="item-name">{{ability.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    {{#each actor.gear as |gear id|}}
    <li class="item flexrow" data-item-id="{{gear._id}}">
        <div class="item-image"><img src="{{gear.img}}" title="{{gear.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{gear.name}}</a></h4>
        <h4 class="item-name">{{gear.data.qtd.value}}</h4>
        <h4 class="item-name">{{gear.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <p>---</p>
    {{#each actor.items as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></h4>
        <h4 class="item-name">{{item.data.qtd.value}}</h4>
        <h4 class="item-name">{{item.type}}</h4>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>