   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.archetype.headerBlock.title"}}
                </caption>
                <tr>
                    <td colspan="2">
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="name"
                                type="text"
                                value="{{item.name}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.name"}}
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.allowsArc"
                                type="checkbox"
                                value="{{data.allowsArc}}"
                                {{checked data.allowsArc}}
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.archetype.headerBlock.allowsArc"}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </section>