   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.armor.headerBlock.title"}}
                </caption>
                <tr>
                    <td colspan="4">
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="name"
                                type="text"
                                value="{{item.name}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.name"}}
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.price.value"
                                type="number"
                                value="{{data.price.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.price"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.SPDModifier.value"
                                type="number"
                                value="{{data.SPDModifier.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.armor.headerBlock.spdMod"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.DEFModifier.value"
                                type="number"
                                value="{{data.DEFModifier.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.armor.headerBlock.defMod"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.ARMModifier.value"
                                type="number"
                                value="{{data.ARMModifier.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.armor.headerBlock.armMod"}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </section>