   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.career.body.starting.title"}}
                </caption>
                <tr>
                   <td class="career-sheet-header-cell">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.abilities"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.abilities",
                            type="text"
                            value="{{data.starting.abilities}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.military-skills"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.military_skills",
                            type="text"
                            value="{{data.starting.military_skills}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.occ-skills"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.occupational_skills",
                            type="text"
                            value="{{data.starting.occupational_skills}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.spells"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.spells",
                            type="text"
                            value="{{data.starting.spells}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.connections"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.connections",
                            type="text"
                            value="{{data.starting.connections}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.assets"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.assets",
                            type="text"
                            value="{{data.starting.assets}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.starting.special"}}
                   </td>
                   <td colspan="3" class="race-sheet-starter-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.starting.special",
                            type="text"
                            value="{{data.starting.special}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
            </table>

            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.career.body.advancement.title"}}
                </caption>
                <tr>
                   <td class="career-sheet-header-cell">
                        {{localize "ikrpg.itemSheetLabels.career.body.advancement.abilities"}}
                   </td>
                   <td colspan="3" class="race-sheet-advancement-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.advancement.abilities",
                            type="text"
                            value="{{data.advancement.abilities}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.advancement.military-skills"}}
                   </td>
                   <td colspan="3" class="race-sheet-advancement-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.advancement.military_skills",
                            type="text"
                            value="{{data.advancement.military_skills}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.advancement.occ-skills"}}
                   </td>
                   <td colspan="3" class="race-sheet-advancement-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.advancement.occupational_skills",
                            type="text"
                            value="{{data.advancement.occupational_skills}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.advancement.spells"}}
                   </td>
                   <td colspan="3" class="race-sheet-advancement-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.advancement.spells",
                            type="text"
                            value="{{data.advancement.spells}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
                <tr>
                   <td class="career-sheet-header-cell" colspan="1">
                        {{localize "ikrpg.itemSheetLabels.career.body.advancement.connections"}}
                   </td>
                   <td colspan="3" class="race-sheet-advancement-field">
                       <input
                            class="actor-sheet-header-field-box"
                            name="data.advancement.connections",
                            type="text"
                            value="{{data.advancement.connections}}"
                            data-type="Text"
                        />
                   </td>
                </tr>
            </table>
        </section>