   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.race.headerBlock.title"}}
                </caption>
                <tr>
                    <td colspan="3">
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="item.name"
                                type="text"
                                value="{{item.name}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.name"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.baseSize"
                                type="text"
                                value="{{data.baseSize}}"
                                data-type="text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.race.headerBlock.base"}}
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.archetypes"
                                type="text"
                                value="{{data.archetypes}}"
                                data-type="text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.race.headerBlock.archetypes"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.language.value"
                                type="text"
                                value="{{data.language.value}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.race.headerBlock.languages"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.height.value"
                                type="text"
                                value="{{data.height.value}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.race.headerBlock.height"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.weight.value"
                                type="text"
                                value="{{data.weight.value}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.race.headerBlock.weight"}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </section>