   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.title"}}
                </caption>
                <tr>
                    <td colspan="3">
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="item.name"
                                type="text"
                                value="{{item.name}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.name"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.MaxAmmo.value"
                                type="number"
                                value="{{data.MaxAmmo.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.maxAmmo"}}
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.price.value"
                                type="number"
                                value="{{data.price.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.price"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.ammoType.value"
                                type="text"
                                value="{{data.ammoType.value}}"
                                data-type="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.ammoType"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.RNG.value"
                                type="number"
                                value="{{data.RNG.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.rng"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.extreme.value"
                                type="number"
                                value="{{data.extreme.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.extreme"}}
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.skill.value"
                                type="text"
                                value="{{data.skill.value}}"
                                data-type="text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.shared.headerBlock.skill"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.attackModifier.value"
                                type="number"
                                value="{{data.attackModifier.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.shared.headerBlock.attackModifier"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.POW.value"
                                type="number"
                                value="{{data.POW.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.shared.headerBlock.pow"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.AOE.value"
                                type="number"
                                value="{{data.AOE.value}}"
                                data-type="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.weapons.ranged.headerBlock.aoe"}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </section>