   <section>
            <table class="actor-sheet-header-table">
                <caption class="actor-sheet-header-table-label">
                    {{localize "ikrpg.itemSheetLabels.archetype.headerBlock.title"}}
                </caption>
                <tr>
                    <td colspan="2">
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="name"
                                type="text"
                                value="{{item.name}}"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.shared.headerBlock.name"}}
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box skill-type-box"
                                name="data.Type"
                                type="text"
                                value="{{data.Type}}"
                                data-dtype="Text"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.skill.headerBlock.type"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.skillLevel"
                                type="number"
                                value="{{data.skillLevel}}"
                                data-dtype="Number"
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.skill.headerBlock.skillLevel"}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="actor-sheet-header-field">
                            <input 
                                class="actor-sheet-header-field-box"
                                name="data.canBeUsedUntrained"
                                type="checkbox"
                                value="{{data.canBeUsedUntrained}}"
                                {{checked data.canBeUsedUntrained}}
                            />
                            <label class="actor-sheet-header-field-name-label">
                                {{localize "ikrpg.itemSheetLabels.skill.headerBlock.untrained"}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </section>